[color]
	ui = auto
[color "status"]
	changed = red bold
	untracked = blue bold
	added = green bold
	header = white normal dim
[color "branch"]
	current = yellow reverse
	local = yellow bold
	remote = green bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold